<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Cats</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">All of Our Cats!</h1>
            <p class="lead">This is a display of all our precious feline friends.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem; display: inline-block;">
        <img src="images/jojo.jpg" alt="cat_pic" style="width: 286px">
        <div class="card-body">
            <h5 class="card-title">Jojo</h5>
            <p class="card-text">Jojo is one sweet, loving, energetic little guy! He loves his fish toy, Roga.</p>
            <a href="/jojo" class="btn btn-primary">Meet Jojo!</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; display: inline-block;">
        <img src="images/gigi.jpg" alt="cat_pic" style="width: 286px">
        <div class="card-body">
            <h5 class="card-title">Gigi</h5>
            <p class="card-text">Gigi is one goofy kitty. She has a very fun-loving outgoing personality!</p>
            <a href="/gigi" class="btn btn-primary">Meet Gigi!</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; display: inline-block;">
            <img src="images/mochi.jpg" alt="cat_pic" style="width: 286px">
            <div class="card-body">
                <h5 class="card-title">Mochi-girl</h5>
                <p class="card-text">Mochi-girl is a bit of a sass... but she is loyal and protective of the ones she loves!</p>
                <a href="/mochi" class="btn btn-primary">Meet Mochi!</a>
            </div>
        </div>
</body>

</html>